source "$HOME/.cargo/env.fish"
fish_add_path ~/.local/bin

set -gx EDITOR nvim

{{- if eq .hostenv "work" -}}
# rs_autolabs stuff
set -gx REALSENSE_DRIVER LIBREALSENSE
set -gx TEMP_DIR /home/yehuda/logs
set -gx PYTHONPATH $PYTHONPATH /home/yehuda/rs_autolabs

status is-interactive; and register-python-argcomplete --shell fish ros2 | source
pyenv init - | source
status is-interactive; and pyenv virtualenv-init - | source
navi widget fish | source
{{ end }}

if status is-interactive
    # Commands to run in interactive sessions can go here
    zoxide init fish | source
end

